$primary-color: #CB9286;
$primary-color-hover: #b37a6f;
$secondary-color: #C4AA5C;
$secondary-color-hover: #977d2d;
$tertiary-color: #CCBB99;
$quartiary-color: #8E8B8B;
$fivetiary-color: #FFFFFF;
$sixtiary-color: #C4C4C4;